body {
    font-family: druk;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0346ff;
    color: white;
    padding: 10px;
    display: flex; /* Використовуємо flexbox для розміщення елементів */
    align-items: center; /* Вирівнюємо елементи по вертикалі */
    justify-content: space-between; /* Розміщуємо елементи по краях шапки */
    padding: 10px; /* Додаємо внутрішній відступ */
}

.header-content {
    display: flex;
    align-items: center;
}
.logo {
width: 50px; /* Задаємо ширину логотипу */
height: auto; /* Зберігаємо пропорції логотипу */
margin-right: 10px; /* Додаємо відступ справа від логотипу */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

#hero {
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.hero-image {
    width: 100%; /* Або інша ширина за бажанням */
    margin-bottom: 20px; /* Відступ від зображення до кнопки */
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block; /* Щоб уникнути зайвого простору під зображенням */
}

#hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

#about, #services, #projects, #contact {
    padding: 50px;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: #0346ff;
    color: white;
    text-align: center;
    padding: 10px;
}

